@using Coldairarrow.Entity.Base_SysManage;
@using Coldairarrow.Util;

@{
    Layout = "~/Views/Shared/_Layout_Form.cshtml";

    var obj = (Base_SysButtonType)Model;
    var objStr = Html.Raw(obj.ToJson());
}
<div style="padding:15px;padding-right:45px;">
    <form id="form" class="form-horizontal" role="form">
        
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">TypeName</label>
            <div class="col-sm-5">
                <input name="TypeName" value="@obj.TypeName" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">SortNum</label>
            <div class="col-sm-5">
                <input name="SortNum" value="@obj.SortNum" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Remarks</label>
            <div class="col-sm-5">
                <input name="Remarks" value="@obj.Remarks" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">CreateTime</label>
            <div class="col-sm-5">
                <input name="CreateTime" value="@obj.CreateTime" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">CreateUserId</label>
            <div class="col-sm-5">
                <input name="CreateUserId" value="@obj.CreateUserId" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">CreateUserName</label>
            <div class="col-sm-5">
                <input name="CreateUserName" value="@obj.CreateUserName" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="hidden">提交</button>
        </div>
    </form>
</div>
<script>
    var theEntity = @objStr;

    $(function () {
        initEvent();
    });

    //事件绑定
    function initEvent() {
        //表单校验
        $('#form').validator().on('submit', function (e) {
            //校验成功
            if (!e.isDefaultPrevented()) {
                e.preventDefault();

                var values = $('#form').getValues();
                
                $.extend(theEntity, values);
                loading();
                $.postJSON('/Base_SysManage/Base_SysButtonType/SaveData', theEntity, function (resJson) {
                    loading(false);

                    if (resJson.Success) {
                        parent.$('#dataTable').bootstrapTable('refresh');
                        parent.dialogSuccess();
                        dialogClose();
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            }
        })
    }

    //提交表单
    function submitForm() {
        $('#submit').trigger('click');
    }
</script>